{% extends 'base.html.twig' %}

{% block body %}

<center>
  <a href="{{ path('nuovoprestito') }}" class="button" style="width:42%">NUOVO PRESTITO</a> 
<br><p><br>
  <a href="{{ path('mostraprestito', {'option': 'INCORSO'}) }}" class="button" style="width:42%">RESTITUZIONE o RINNOVO</a>
</center>

{% endblock %}
